<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runonce.dao.eventversionone.ApplicationTypeValueDao">

    <resultMap id="ApplicationTypeValue" type="com.runonce.model.eventversionone.ApplicationTypeValue" >
        <result column="id" property="id" />
        <result column="materiaId" property="materiaId" />
        <result column="fieldId" property="fieldId" />
        <result column="value" property="value" />
    </resultMap>
    <select id="selectByFieldId" resultType="com.runonce.model.eventversionone.ApplicationTypeValue">
        SELECT id,materiaId,fieldId,value
        FROM application_type_value
        WHERE fieldId = #{fieldId}
        fieldId
    </select>
</mapper>
