<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runonce.dao.eventversionone.SituationToGuideChildDao">

    <resultMap id="SituationToGuideChild" type="com.runonce.model.eventversionone.SituationToGuideChild" >
        <result column="id" property="id" />
        <result column="eventName" property="eventName" />
    </resultMap>

    <select id="checkPresence" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(*) FROM situation_to_guide_child
        WHERE pid = #{pid} AND eventName = #{eventName} AND id != #{thisId}
    </select>

    <select id="findByPid" parameterType="java.lang.String" resultType="com.runonce.model.eventversionone.SituationToGuideChild">
        SELECT * FROM situation_to_guide_child WHERE pid = #{pid}
    </select>

    <delete id="deleteByPid" parameterType="java.lang.String">
        DELETE FROM situation_to_guide_child WHERE pid = #{pid}
    </delete>
</mapper>
