<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runonce.dao.eventversiontwo.ApplicationTypeFieldTwoDao">

    <resultMap id="ApplicationTypeFieldTwo" type="com.runonce.model.eventversiontwo.ApplicationTypeFieldTwo" >
        <result column="id" property="id" />
        <result column="fieldName" property="fieldName" />
        <result column="parentId" property="parentId" />
        <result column="leafNode" property="leafNode" />
        <result column="eventId" property="eventId" />
        <result column="fieldType" property="fieldType" />
    </resultMap>
</mapper>
