<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runonce.dao.eventversiontwo.PrequalificationTwoDao">

    <resultMap id="PrequalificationTwo" type="com.runonce.model.eventversiontwo.PrequalificationTwo" >
        <result column="id" property="id" />
        <result column="pretrialContent" property="pretrialContent" />
        <result column="auditSpecification" property="auditSpecification" />
        <result column="eventId" property="eventId" />
        <result column="auditMode" property="auditMode" />
        <result column="auditOperation" property="auditOperation" />
        <result column="remarks" property="remarks" />
        <result column="itemNumber" property="itemNumber"/>
    </resultMap>
    <select id="findByEventId" resultType="com.runonce.model.eventversiontwo.PrequalificationTwo">
        select * from prequalification_two where eventId = #{eventId} order by itemNumber asc
    </select>
    <delete id="deleteByEventId">
        delete from  prequalification_two where  eventId = #{eventId}
    </delete>
</mapper>
