<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runonce.dao.eventversiontwo.WorkSituationDao">

    <resultMap id="WorkSituation" type="com.runonce.model.eventversiontwo.WorkSituation" >
        <result column="id" property="id" />
        <result column="eventId" property="eventId" />
        <result column="pid" property="pid" />
        <result column="name" property="name" />
    </resultMap>
</mapper>
